@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-black: #080808;
    --main-white: #fff;
    --main-font: 'IBM Plex Mono', monospace;
    --main-gray: #A7A7A7;
    --main-green: #42b883;
    --nav-bg: rgba(22, 22, 23, 1);
    --scnd-font: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-white);
    font-family: var(--main-font);
}

html {
    background: var(--main-black);
    scroll-behavior: smooth;
}

.container {
    max-width: 1235px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.all-title {
    font-size: 33px;
    text-transform: capitalize;
}

.all-subtitle {
    font-size: 17px;
    color: var(--main-gray);

    &::first-letter {
        text-transform: uppercase;
    }
}

.web-links-item {
    i {
        transition: .4s;
        color: var(--main-gray);
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
}

    &:hover {
        i {
            color: var(--main-green);
        }
    }
}

.header-txt {
    .small-size {
        font-size: 17px;
        display: block;
        margin-bottom: 5px;
    }
    .extra-small-size {
        font-size: 13px;
        display: block;
        margin-top: 5px;
    }

    .green-txt {
        color: var(--main-green);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--main-green);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.about-title {
    .small-title {
        display: block;
        font-size: 17px;
    }
}

.green-color {
    color: var(--main-green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}